paleta de cor{
    color: #fae0e4;
    color: #fac5d0;
    color: #fbb1bd;
    color: #ff85a1;
    color: #ff7096;
    color: #ff5c8a;
    color: #ff477e;
    color: #ff0a54;

    color:#ff88ac;
}

.navbar-nav .nav-link {
    color: #ffffff; /* Cor dos links */
    transition: color 0.3s ease; /* Transição suave para quando passar o mouse */
  }
  
.navbar-nav .nav-link:hover {
    color: #ff7ea5; /* Cor dos links quando o mouse estiver sobre eles */
  }
  
  
/* Animação suave no texto de boas-vindas */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.animate-fade {
  animation: fadeIn 1.5s ease-in-out;
}
  
.animate-fade-content {
  animation: fadeInUp 2s ease-in-out;
}
  
body {
  font-family:"Wix Madefor Display", sans-serif;
  background-color: #882b47;
  color: #ffffff;
  padding-bottom: 60px; /* Para evitar que o rodapé sobreponha o conteúdo */
}

.nav-bar-color{
  background-color:#882b47 ;
  transition: background-color 0.3s ease;
}
  
  
  
h1 {
  color: #ffffff;
  font-weight: bolder;
}
  
  



/* Quiz */

.start_btn,
.info_box,
.quiz_box,
.result_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3 ease;
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1); 
}



.start_btn button{
  font-size: 1.5rem;
  font-weight: 500;
  color: #5a182c;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}

.info_box{
  width: 540px;
  background: #ffffff;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.info_box .info_title{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightslategray;
  display: flex;
  align-items: center;
  padding: 0 30px;
  /* font-size: 1.5rem; */
  font-weight: 600;
  color: black;
}

.info_box .info_list{
  padding: 15px 35px;
}

.info_box .info_list .info{
  margin: 5px 0;
  font-size: 1.3rem;
}

.info_box .info_list .info span{
  font-weight: 600;
  color: #5a182c;
}

.info_box .buttons{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid lightslategray;
}

.info_box .buttons button{
  margin: 0 5px;
  height: 40px;
  width: 100px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons button.restart{
  color: #ffff;
  background: #53182a;
}

.buttons button.restart:hover{
  background: #350f1b;
}

.buttons button.quit{
  color: #53182a;
  border-color: #53182a;
}

.buttons button.quit:hover{
  color: #ffff;
  background: #350f1b ;
}

.quiz_box {
  width: 70%; 
  max-width: 800px; 
  min-height: 600px; 
  background: #ffffff;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}


.quiz_box header{
  position: relative;
  z-index: 99;
  height: 70px;
  padding: 0 30px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 3px 5px 1px rgb(0,0,0,0.1);

}

.quiz_box header .title {
  font-size: 1.5rem;
  font-weight: 600;
}

.quiz_box header .timer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  height: 45px;
  background: floralwhite;
  border: 1px solid #fae0e4;
  border-radius: 5px;
  padding: 0 8px;
}

.quiz_box header .timer .time_text{
  font-weight: 400;
  font-size: 1.4rem;
  user-select: none;
}

.quiz_box header .timer .timer_sec{
  font-size: 1.5rem;
  font-weight: 500;
  background: rgb(139, 58, 71);
  height: 30px;
  width: 45px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(139, 58, 71);
  user-select: none;
}

.quiz_box header .time_line{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #ff5c8a;
}

.quiz_box section{
  padding: 25px 30px 20px 30px;
  background:#fff ;
}

.quiz_box section .que_text{
  font-size: 1.7rem;
  font-weight: 600;
}

.quiz_box section .option_list{
  padding: 20px 0;
  display: block;
}

section .option_list .option{
  background: #fae0e4;
  border: 1px solid #ff7096;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
}

section .option_list .option:hover{
  color: #c5355e;
  background: #fac5d0;
  border-color: #ff5c8a;
}

section .option_list .option:last-child{
  margin-bottom: 0px;
}

.option_list .option .icon{
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 1rem;
  line-height: 24px;
  pointer-events: none;
}

.option_list .option .icon.tick{
  color: rgb(8, 80, 8);
  border-color: rgb(8, 80, 8);
  background: #b6ffbf;
}

.option_list .option .icon.cross{
  color: rgb(95, 8, 8);
  background: #ff96ab;
  border-color: rgb(95, 8, 8);
}

.option_list .option.correct{
  color: rgb(8, 80, 8);
  background: #b6ffbf;
  border-color: rgb(195, 255, 195);
}

.option_list .option.incorrect{
  color: rgb(95, 8, 8);
  background: #ff96ab;
  border-color: #ff96ab;

}

.option_list .option.disabled{
  pointer-events: none;
}
.quiz_box footer{
  height: 60px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz_box footer .total_que span{
  display: flex;
  user-select: none;
}

footer .total_que span p{
  font-weight: 500;
  padding: 0 5px;
}


footer .total_que span p:first-child{
  padding-left: 0px;
}

footer .next_btn{
  display: none;
  height: 40px;
  padding: 0 13px;
  font-size: 1.4rem;
  font-weight: 400;
  border: none;
  outline: none;
  color: #fff;
  background: #882b47;
  border-radius: 5px;
  border: 1px solid #882b47;
  cursor: pointer;
  transition: all 0.3 ease;
}

footer .next_btn:hover{
  background: #53182a;
}

.result_box{
  background: #fff;
  width: 450px;
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
}

.result_box .icon{
  font-size: 5rem;
  color: #ff477e;
  margin-bottom: 10px;
}

.result_box .complete_text{
  font-size: 1.5rem;
  font-weight: 500;
}

.result_box .score_text span{
  display: flex;
  margin: 10px 0;
  font-size: 1.4rem;
  font-weight: 500;
}

.score_text span p{
  font-weight: 600;
  padding: 0 4px;
}

.result_box .buttons{
  display: flex;
  margin: 20px 0;
}

.result_box .buttons button{
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #882b47;
  cursor: pointer;
  transition: all 0.3 ease;
}


.text{
  color: black;
}

.section{
  padding: 3%;
}

@media (max-width: 720px){
  .quiz_box header .title{
    font-size: 1rem;
  }
  .quiz_box header {
    height: 50px;
}
  .quiz_box section .que_text {
    font-size: 1.1rem;
}
  section .option_list .option{
    font-size: 0.8rem ;
}
}

@media (max-width: 560px){
  .start_btn button {
    font-size: 1.4rem;
    padding: 5% 7%;
}

  .info_box .info_list .info {
    margin: 1px 0;
    font-size: 1rem;
}

  .info_box .info_list {
    padding: 10px 20px;
}

.info_box.activeInfo, .result_box.activeResult {

  transform: translate(-50%, -50%) scale(0.8);
}

 
  footer .next_btn {
    font-size: 1.2rem;
}
  .result_box .buttons button {
    font-size: 1.2rem;
  }

  .divquiz{
    padding: auto;
  }
}

@media(max-width: 465px){

  .info_box.activeInfo, .result_box.activeResult {

    transform: translate(-50%, -50%) scale(0.6);
  }
  
  .quiz_box.activeQuiz{
    transform: translate(-50%, -50%) scale(0.8);

  }

  span{
    font-size: 0.7rem;
  }

  .quiz_box header .title {
    font-size: 0.8rem;
}

  .start_btn, .info_box, .quiz_box, .result_box {
    top: 50%;
    left: 58%;
}
  footer .next_btn {
    font-size: 0.8rem;
}
}

