paleta de cor{
    color: #fae0e4;
    color: #fac5d0;
    color: #fbb1bd;
    color: #ff85a1;
    color: #ff7096;
    color: #ff5c8a;
    color: #ff477e;
    color: #ff0a54;

    color:#ff88ac;
}

.navbar-nav .nav-link {
    color: #ffffff; /* Cor dos links */
    transition: color 0.3s ease; /* Transição suave para quando passar o mouse */
  }
  
.navbar-nav .nav-link:hover {
    color: #ff7ea5; /* Cor dos links quando o mouse estiver sobre eles */
  }
  
  
/* Animação suave no texto de boas-vindas */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade {
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .animate-fade-content {
    animation: fadeInUp 2s ease-in-out;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #882b47;
    color: #ffffff;
    padding-bottom: 60px; /* Para evitar que o rodapé sobreponha o conteúdo */
  }

  .nav-bar-color{
    background-color:#882b47 ;
    transition: background-color 0.3s ease;
  }
  
  
  
  h1 {
    color: #ffffff;
  }
  

  footer {
    position: fixed; /* Torna o footer fixo */
    width: 100%;
    bottom: 0; /* Posiciona o footer na parte inferior */
    background-color:#882b47;
  }

  /* Espaçamento do conteúdo de acordo com a altura da navbar */
  .container {
    padding-top: calc(100px + 1rem); /* Ajuste baseado no tamanho da navbar */
  }
  
  /* Responsividade para dispositivos móveis */
  @media (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    .container {
      padding-top: calc(100px + 2rem); /* Aumenta o espaçamento em telas menores */
    }
  }
  
  section{
    padding: 5%;
  }

  .pagina-inicial{
    margin-top: 10%;
    padding-bottom: 25%;
  }

  .pagina-inicial-1{
    background-color:#e07192;
    margin-top: 10%;
    padding-bottom: 25%;
  }

  .pagina-inicial-2{
    background-color: #fbb1bd;
    padding-top: 10%;
    padding-bottom: 25%;
  }

  .pagina-content{
    margin-top: 5%;

  }