paleta de cor{
    color: #fae0e4;
    color: #fac5d0;
    color: #fbb1bd;
    color: #ff85a1;
    color: #ff7096;
    color: #ff5c8a;
    color: #ff477e;
    color: #ff0a54;

    color:#ff88ac;
}

/* menu */

.navbar-nav .nav-link {
    color: #ffffff; /* Cor dos links */
    transition: color 0.3s ease; /* Transição suave para quando passar o mouse */
  }
  
.navbar-nav .nav-link:hover {
    color: #ff7ea5; /* Cor dos links quando o mouse estiver sobre eles */
  }

.nav-bar-color{
  background-color:#882b47 ;
  transition: background-color 0.3s ease;
}
    
    
  
  
/* Animação suave no texto de boas-vindas */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


/* Espaçamento do conteúdo de acordo com a altura da navbar */

.container {
  padding-top: calc(100px + 1rem); /* Ajuste baseado no tamanho da navbar */
}
  

/* Responsividade para dispositivos móveis */

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1rem;
  }
  
  .container {
    padding-top: calc(100px + 2rem); /* Aumenta o espaçamento em telas menores */
  }
}

/* ícone  */

.scroll-down {
  position: absolute;
  bottom: 20px;
  left: 53%;
  transform: translateX(-500%);
  cursor: pointer;
}
  

.bi {
  font-size: 1rem;
  animation: bounce 2s infinite;
  height: 20%;
  width: 200%;
}
  

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  

@media (max-width: 1450px){
  .bi{
    display: none;
  }
}


.animate-fade {
  animation: fadeIn 1.5s ease-in-out;
}
  
.animate-fade-content {
  animation: fadeInUp 2s ease-in-out;
}
  

body {
  font-family:"Wix Madefor Display", sans-serif;
  background-color: #882b47;
  color: #ffffff;
}

h1 {
  color: #ffffff;
  font-weight: bolder;
}

.jogos_titulo{
  margin-bottom: 10%;
}
  

/* rodapé */

footer {
  width: 100%;
  bottom: 0; /* Posiciona o footer na parte inferior */
  background-color:#882b47;
  padding: 20px;
  display: block;
}

.imgfooter{
  width: 70%;
  display: flex;
  justify-content: left; 
  height: auto;
}

.rowfooter{
  margin-left: 1%;
  margin-right: 1%;
  text-align: left;
  
}

.contfooter{
  padding-top: 2%;
  margin-left: 0%;
}


/* sessões */

section{
  padding: 5%;
}

.pagina-inicial{
  margin-top: 10%;
  padding-bottom: 15%;
}

.pagina-inicial-1{
  background-color:#e07192; 
  margin-top: 10%;
  padding-bottom: 25%;
}

.pagina-inicial-2{
  background-color: #882b47;
  padding-top: 10%;
  padding-bottom: 25%;
}

.pagina-content{
  margin-top: 4%;
}



   /* Mulheres Importantes*/

   .profile-card {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    margin-bottom: 2rem;
    transition: transform 0.3s, box-shadow 0.3s; 
  }
  
  .mulheres_foto {
    width: 100%; /* Ajusta a imagem para 100% do espaço disponível */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Bordas arredondadas */
  }


@media (max-width: 1100px) {
  .mulheres_foto {
    display: none; /* Oculta a imagem */
  }


  .row {
    flex-direction: column; /* Muda a direção das colunas para coluna */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
  }

  .col-8 {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Adiciona margem inferior para espaçamento */
  }
}

  @media (max-width: 768px) {
    .profile-card h3 {
      text-align: center; /* Centraliza o título do card */
    }
  
    .profile-card p {
      text-align: center; /* Centraliza o texto em parágrafos */
    }
    
    .profile-card {
      padding: 1rem 0; /* Ajusta o padding verticalmente */
    }
  }
  
  .btn-color {
    width: 100%; /* Botão ocupa toda a largura */
    border: none; /* Remove borda padrão */
    transition: background-color 0.3s;
  }

  
  .progress {
    width: 100%; /* Defina a largura que você deseja para a barra de progresso */
    flex-grow: 1; /* Permite que a barra se expanda, se necessário */
  }
  
.profile-header {
  background-color: #882b47;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); }


.profile-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); }

.icon {
  font-size: 40px;
  color: #007bff;
  margin-right: 10px;
}

.progress-bar-custom {
  background-color: #6c757d;
}

.progress-color1{
  background-color: #ff477e;
}

.progress-color2{
  background-color: #f11a5b;
}

.btn-color{
  background-color: #b83d62;
}

.btn-color:hover{ 
  background-color: #5a182c;
}


/* Jogos */
.game-section {
  background-color: #882b47; /* Cor de fundo */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
  transition: transform 0.3s, box-shadow 0.3s;

}



.game-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.game-description {
  font-size: 16px; /* Tamanho da descrição */
  margin: 20px 0; /* Margem entre a descrição e o botão */
}

.btn-color {
  background-color: #ff85a1; /* Cor do botão */
  border: none; /* Remove borda padrão */
  transition: background-color 0.3s;
}

.btn-color:hover {
  background-color: #ff7096; /* Cor do botão ao passar o mouse */
}

.icon {
  color: #ff85a1; /* Cor rosa */
}


 /*relatos */
  
.pnuvem{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100%; /* Defina uma altura para ver o efeito vertical */
  padding: 10%;
} 

.nuvemimg{
  width: 80%;
  border-radius: 12px;
  border: 3px solid #ff99b8;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.nuvemimg:hover {
  transform: scale(1.04);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);

}

.sectiongrafico{
  padding: 5%;
}

.imggrafico{
  width: 100%;
  transition: transform 0.2s ease-in-out;
}

.colgrafico:hover{
  transform: scale(1.40);
  background-color: #882b47;
  border-radius: 8px;
  border: 1px solid#53182a;
}

.colgraf2:hover{
  transform: scale(1.20);
  background-color: #882b47;
  border-radius: 8px;
  border: 1px solid#53182a;
}

.colgrafico{
  transition: transform 0.2s ease-in-out;
}

.pgrafico{
  padding: 2%;
}

.contcard{
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid#53182a;
  margin-top: 2%;
}

.containertop{
  padding-top: 4%;
}

.carddest{
  background-color: #ffe0e9; 
  border: 3px solid #ff99b8; 
  border-radius:12px;
  padding: 3%;
  max-width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out; 
}

.cardli{
  background-color: #ffe0e9; 
  border: 1px solid #ff99b8; 
  transition: background-color 0.3s ease, transform 0.2s ease; /* Aplica uma transição na cor de fundo e no tamanho */
}

.carddest:hover {
  transform: scale(1.04);
}

.cardli:hover{
  background-color: #d35c7e;
  transform: scale(1.02);
}

@media (max-width: 768px){
  .coldest{
    padding: 5%;
}
}



/* como os pais devem lidar com o sexismo */

.containerbalao{
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 3%;
  padding-top: 3%;
}

.balaocoment {
  position: relative;
  background: #f0f0f0;
  border-radius: 10px;
  padding: 16px;
  margin: 20px 0;
  max-width: 100%;
  transition: transform 0.2s ease-in-out; 

}

.balaocoment::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #f0f0f0;
  border-bottom: 0;
  border-left: 0;
  margin-left: -5px;
  margin-bottom: -10px;
}

.balaocoment p {
  margin: 0;
  font-style: italic;
  color: #555;
}

.balaocoment:hover{
  transform: scale(1.20);

}

/* linha do tempo  */
.timeline{
  position: relative;
  margin: 50px auto;
  padding: 40px 0;
  box-sizing: border-box;
} 

.timeline ul{
  margin: 0;
  padding: 0;
}

.timeline ul li{
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline:before{
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #f0f0f0;
}

.timeline ul li:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even){
  float: right;
  text-align: left;
  clear: both;
}

.content{
  padding-bottom: 20px;
  transition: transform 0.2s ease-in-out; 

}

.flutuartime:hover{
  transform: scale(1.09);

}

.timeline ul li:nth-child(odd):before{
  content: '';
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: #ff0a54;
  border-radius: 50%;
  box-shadow: 0 0 0 3px  #fae0e4a9;
}

.timeline ul li:nth-child(even):before{
  content: '';
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: #ff0a54;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fae0e4a9;
}

.timeline ul li h3{
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #fae0e4;
}

.timeline ul li p{
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li:nth-child(odd) .time{
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: #ff0a54;
  color: #fae0e4 ;
  border-radius: 18px;
  box-shadow: 0 0 0 3px #fae0e4a9;
} 

.timeline ul li .time h4{
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(even) .time{
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background: #ff0a54;
  color: #fae0e4 ;
  border-radius: 18px;
  box-shadow: 0 0 0 3px #fae0e4a9;
} 



.imglivro{
  width: 50%;
  margin-bottom: 2%;
  border-radius: 8px;
}

.cormodal{
    background-color: #ff477e;
}

.mbotao{
  background-color: #ff477e;
  color: white;
}

.collivro{
  padding: 3%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);

  
}

.containerlivros{
  margin-top: 0;
}



/* GALERIA  */

.video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vid {
  flex: 0 0 32%; /* Ajustar a porcentagem conforme necessário */
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.vid:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.vid video {
  width: 100%;
  height: auto;
}

.vid h3 {
  text-align: center;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .vid {
    flex: 0 0 48%; /* Ajustar a porcentagem conforme necessário */
  }
}

@media (max-width: 576px) {
  .vid {
    flex: 0 0 100%;
  }
}


.btn-videos {
  background-color: #eb3b70; /* Cor de fundo do botão */
  color: #fff; /* Cor da fonte do botão */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none; /* Remove o sublinhado padrão dos links */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px; /* Ajuste os valores de padding conforme necessário */
}

.video-thumbnail {
  width: 100%;
  height: 200px; /* Ajuste a altura conforme necessário */
  border-radius: 5px 5px 0 0; /* Arredondar apenas o topo */
}
